<ul class="todos">
  <li id="todos__task--{{ task.id }}" class="item" *ngFor="let task of todos | async">
    <input
      type="checkbox"
      [checked]="task.completed"
      (click)="toggleCompleted(task)"
    />
    <span
      (dblclick)="toggleEditing(task)"
      *ngIf="editingID !== task.id; else editingForm"
    >
      {{ task.name }}
    </span>
  </li>
</ul>
<input
  type="text"
  (keyup)="$event.which === 13 && addTodo()"
  [(ngModel)]="task"
/>
<button (click)="addTodo()">Add Todo</button>
<ng-template #editingForm>
  <input
    type="text"
    (keyup)="
      ($event.which === 13 && updateTodo()) ||
        ($event.which === 27 && toggleEditing())
    "
    [(ngModel)]="editingName"
  />
</ng-template>
