<ul class="items">
  <li id="item--{{ item.id }}" class="item" *ngFor="let item of items | async">
    <input
      type="checkbox"
      [checked]="item.completed"
      (click)="toggleCompleted(item)"
    />
    <span
      (dblclick)="toggleEditing(item)"
      *ngIf="editingID !== item.id; else editingForm"
    >
      {{ item.name }}
    </span>
  </li>
</ul>
<input
  type="text"
  (keyup)="$event.which === 13 && addItem()"
  [(ngModel)]="task"
/>
<button (click)="addItem()">Add Item</button>
<ng-template #editingForm>
  <input
    type="text"
    (keyup)="
      ($event.which === 13 && updateItem()) ||
        ($event.which === 27 && toggleEditing())
    "
    [(ngModel)]="editingName"
  />
</ng-template>
