<ul class="todos">
  <li
    id="todos__task--{{ task.id }}"
    class="todos__task"
    *ngFor="let task of todos | async"
  >
    <input
      type="checkbox"
      id="todos__task__checkbox--{{ task.id }}"
      class="todos__task__checkbox"
      [checked]="task.completed"
      (click)="toggleCompleted(task)"
    />
    <input
      type="text"
      class="todos__task__input"
      id="todos__task__input--{{ task.id }}"
      *ngIf="editingID === task.id"
      (keyup)="
        ($event.which === 13 && updateTodo()) ||
          ($event.which === 27 && toggleEditing())
      "
      [(ngModel)]="editingName"
    />
    <span
      id="todos__task__text--{{ task.id }}"
      class="todos__task__text"
      (dblclick)="toggleEditing(task)"
      *ngIf="editingID !== task.id"
    >
      {{ task.name }}
    </span>
    <button (click)="deleteTodo(task.id)">Delete</button>
  </li>
</ul>
<input
  type="text"
  (keyup)="$event.which === 13 && addTodo()"
  [(ngModel)]="task"
/>
<button (click)="addTodo()">Add Todo</button>
